.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.wrapper {
}
.picWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wrapperInfo {
  overflow: scroll;
  overflow-x: hidden;
  height: 65vh;
}

.wrapperInfo::-webkit-scrollbar {
  width: 4px;
  border-radius: 50px;
  margin-left: 15px;
}
.wrapperInfo:-webkit-scrollbar-track {
  background: #ff0000;
  /* width: 2px; */
}
.wrapperInfo::-webkit-scrollbar-thumb {
  background: #888;
  width: 2px;
  border-radius: 50px;
}
/* .wrapperInfo::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.shortList {
  columns: 2;
  list-style: none;
  margin-bottom: 10px;
  justify-content: space-between;
}

.shortListSpan {
  margin-left: 7px;
}

.shortListList {
  display: flex;
}

.image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.furniturWrapper {
  margin: 10px 0;
  columns: 2;
}

.furniture {
  margin-right: 15px;
  color: grey;
  list-style: none;
}

.facilitiesWrapper {
  columns: 2;
  margin: 10px 0;
}

.listWrapper {
  margin-top: 15px;
}

.listWrapper:nth-child(1) {
  margin-top: unset;
}

.list {
  list-style: none;
  margin-top: 5px;
}

.tick {
  margin-right: 5px;
  font-size: 10px;
}
