.container {
  position: relative;
  margin: 30px 0;
}

.headingCon {
  display: flex;
  align-items: center;
}

.headingSubtitle {
  font-size: 18px;
  margin-left: 10px;
  color: grey;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background-color: white;
  border-radius: var(--radius_8);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}
.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.cardContent {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px 0;
}
.view {
  color: grey;
  font-weight: 600;
}

.list {
  color: grey;
  list-style: none;
  font-size: 12px;
  padding: 5px 0;
  border-bottom: var(--divider);
}

.price {
  text-align: right;
  padding: 4px 0;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.details {
  font-size: 13px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
.cardBtn {
  background-color: var(--theme-orange);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-radius: 2px;
}
