.filterBtn {
  background-color: whitesmoke;
  /* border: grey solid 0.1px; */
  height: 32px;
  padding-inline: 15px;
  border-radius: 20px;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  color: grey;
  cursor: pointer;
  margin-right: 10px;
  text-transform: capitalize;
  display: inline-block;
  transition: ease 0.3s;
}

.filterBtn:hover {
  background-color: rgb(232, 232, 232);
}
